/*#home{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: left;
    gap: 5rem;
   /* height: calc(100vh - 4rem);
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
   /* overflow: hidden;
    /*position: relative;*/
    
    
    /*width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #534666;
    padding: 15px 7%;}
    */

.homecontainer {
    width: 100px; /* Adjust the size as needed */
    height: 100px; /* Adjust the size as needed */
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff; /* Optional: Add a border */
  }
  
  .imag {
    width: 20%;
    height: 20%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 150px;
    margin-left: 150px;
  }
  
.img{
    position: absolute;
    z-index: -1;
    top: -4rem;
    right: 50;
    object-fit: cover;
    height: 50vh;
    border: none;
    border-radius:1rem ;
    
    
}
.homeContent{
    height: 60vh;
    width: 30vw;
    padding-right: 3rem;
    font-size: 1rem;
    font-weight:500 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    position: relative;
    


}
.nameTitle{
    font-size: 2rem;
    font-weight:200 ;
}
.btn{
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 1rem;
    height: 5vh;
    width: 25vh;

}

