

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #f2f9fa;
  padding: 2rem;
}

.homecontainer {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
}

.imag {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 5rem;
  margin-left: 1rem;
}

.homeContent {
  width: 100%;
  padding: 10rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #6e636b;
  position: relative;
  text-align: center;
  margin-top: 1rem;
  margin-left:8rem ;
}

.nameTitle {
  font-size: 2rem;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  padding-left: 1rem;
 
}

.position {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0.5rem;
  padding-left: 1rem;
}

.btn {
  margin-right: rem;
  margin-top: 1rem;
  height: auto;
  width: 10rem;
  padding-left: 5rem;

  
}

.paraInfo {
  margin-top: 3rem;
  text-align: center;
  max-width: 50rem;
  font-size: 1.2rem
  
}


@media (min-width: 768px) {
  #home {
    flex-direction: row;
    text-align: left;
  }

  .homecontainer {
    margin-right: 2rem;
    margin-top: 0;
  }

  .imag {
    margin-left: 2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 5rem;
    margin-left: 1rem;
  }

  .homeContent {
    text-align: center;
    margin-left: 0;
    margin-top: 0;
  
  }

  .nameTitle,
  .position,
  .btn,
  .homeInfo,
  .paraInfo {
    margin-left: 0;
  }

  
}

/*Style by me *

/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
  .homeContent {
    padding: 5rem; /* Adjust the padding for smaller screens */
    margin-left: 0; /* Reset the left margin */
  }
  .btn {
    margin: 1rem 0 1rem auto;
    border: none;
    border-radius: rem;
    height: 5vh;
    width: 13vh;
    padding-right: 5rem;
    margin-right: 1.5rem;
  }

  .imag {
    width: 70%;
    height: 10%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 3rem;
  }
  
  .nameTitle {
    font-size: 1.5rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -80px;
    padding-left: 1rem;
  }

  .position {
    font-size: 1rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.5rem;
    padding-left: 1rem;
  }

  .paraInfo {
    margin-top: 3rem;
    text-align:center;
    max-width: 50rem;
    font-size: 0.9rem;
    line-height: 1.5rem; 
    width: 17rem;
    margin-left: -3.5rem;
    
    
    
  }
  
}



