

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #f2f9fa;
  padding: 2rem;
}

.homecontainer {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
}

.imag {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 5rem;
  margin-left: 1rem;
}

.homeContent {
  width: 100%;
  padding: 10rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #6e636b;
  position: relative;
  text-align: center;
  margin-top: 1rem;
  margin-left:8rem ;
}




.btn {
  margin-left: auto;
  margin-top: 2rem;
  height: auto;
  width: 10rem;
 padding-left: 10rem;

  
}

.paraInfo {
  margin-top: 10rem;
  text-align: center;
  max-width: 30rem;
  font-size: 1.2rem
  
}


@media (min-width: 768px) {
  #home {
    flex-direction: row;
    text-align: left;
  }

  .homecontainer {
    margin-right: 2rem;
    margin-top: 0;
  }

  .imag {
    margin-left: 2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 5rem;
    margin-left: 1rem;
  }

  .homeContent {
    text-align: center;
    margin-left: 0;
    margin-top: 0;
  
  }

  .nameTitle,
  .position,
  .btn,
  .homeInfo,
  .paraInfo {
    margin-left: 0;
  }

  
}

/*Style by me *

/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
  .homeContent {
    padding: 5rem; /* Adjust the padding for smaller screens */
    margin-left: 0; /* Reset the left margin */
  }
  .btn {
    margin: 1rem 0 1rem auto;
    border: none;
    border-radius: rem;
    height: 5vh;
    width: 13vh;
    padding-right: 5rem;
    margin-right: 1.5rem;
  }

  .imag {
    width: 70%;
    height: 10%;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 1rem;
    margin-left: 3rem;
  }
  
  .nameTitle {
    font-size: 1.5rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -80px;
    padding-left: 1rem;
  }

  .position {
    font-size: 1rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.5rem;
    padding-left: 1rem;
  }

  .paraInfo {
    margin-top: 3rem;
    text-align:center;
    max-width: 50rem;
    font-size: 0.9rem;
    line-height: 1.5rem; 
    width: 17rem;
    margin-left: -3.5rem;
    
    
    
  }
  
}

/*.card {
  width: 190px;
  height: 254px;
  border-radius: 1rem;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 100%, #FFCC70 100%);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}*/

 
 
 
 /*Card footer*/
 .card-social {
  transform: translateY(200%);
  display: flex;
  justify-content: space-around;
  width: 100%;
  opacity: 0;
  transition: transform .2s ease, opacity .2s ease;
 }
 
 .card-social__item {
  list-style: none;
 }
 
 .card-social__item svg {
  display: block;
  height: 25px;
  width: 25px;
  fill: #515F65;
  cursor: pointer;
  transition: fill 0.2s ease ,transform 0.2s ease;
 }

 


 .flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  font-family: sans-serif;
  margin-top: 5rem;
}



.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .2s ease, opacity .2s ease;
  color: #6e636b;
  
}
.card-avatar {
  --size: 200px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform .2s ease;
  margin-bottom: 8rem;
  margin-right: 2rem;
  margin-top: -3rem;
  
 }

 .card-title {
  color: #333;
  font-size: 1.7em;
  font-weight: 600;
  line-height: 2rem;
  
 }

 .card-subtitle {
  color: #859ba8;
  font-size: 1.2em;
  margin-top: 2rem;
 }
 

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 0 5px 8px rgba(127, 39, 156, 1);
  border-radius: 1rem;
}

.flip-card-front {
  background: #f2f9fa
  
 
}

.flip-card-back {
  background: 5px 5px 8px rgba(127, 39, 156, 1) ;
  color: black;
  transform: rotateY(180deg);
  display: flex
  ;
}

.flip-card-front:hover {
  box-shadow: 0 5px 8px rgba(127, 39, 156, 1);
  
 }
 
 .card:hover .card-info {
  transform: translateY(-5%);
 }
 
 .card:hover .card-social {
  transform: translateY(100%);
  opacity: 1;
 }
 
 .card-social__item svg:hover {
  fill: #232323;
  transform: scale(1.1);
 }
 
 .card-avatar:hover {
  transform: scale(1.1);
 }