/* Navbar.css */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  position: fixed;
  z-index: 1;
  width: 90%;
  height: 80px;
  background: #f2f9fa;
  font-size: larger;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}

.menu li a:hover {
  height: 70px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  
}

.menu li {
  padding: 10px 15px;

}

.menu li a {
  color: #333; /* This will set the color of the text inside <a> elements to #333 */
}


.menu li :hover {
  color:#d62196;
  border-radius: 10px;
  
  
}

.menu a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #f2f9fa;
    padding: 10px 0;
    justify-items: center;
    color: #d62196;
  }

  .menu.open {
    display: flex;
    color: #d62196;
  }

  .menu-icon {
    display: flex;
    color: #d62196;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: #d62196;
    margin: 5px 0;
    cursor: pointer;
    display: table-column;

  }

  .logo{
    font-size: 10px;
  }
}
