   
#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 75rem;
    display: inline;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:#f2f9fa  ;
    
    

}/*
.skillsTopic{
    font-size: large;
    font-weight: bold;
    margin: 40rem;
    text-align: center;
    color: white;
    padding: 10px;
    gap: 2rem;
}
.skillsBars{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    gap: 2rem;
    display: inline;

}


/*.skills img{
    width: 20px;
    height: 50px;
    border-radius: 50%;
    display: inline;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50,50,50);
}
/*.html{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    gap: 2rem;
    align-items: center;
    display: inline;


}

.html:hover{
    background: #000000;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #000000;

}
.css{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    gap: 2rem;


}

.javascript{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    gap: 2rem;

}


.python{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}*

#skills {
    overflow: hidden;
    background-color:white;
    width: 3.4;
    margin: auto;


}
.skillsTopic{

}

.skillsBars{
    margin-top: 20;
}



